
<h4>Etapas de la Oferta</h4>

<hr class="sep-tt top-buffer">
<div class="top-buffer">
  <button class="btn btn-primary" (click)="agregarEtapaOferta()"><span class="glyphicon glyphicon-plus"></span> Agregar Etapa</button>
</div>

<div *ngIf="etapasOferta && etapasOferta.length">
<table class="table table striped table-bordered top-buffer">
  <thead class="thead-inverse">
  <tr>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Fecha Inicio</th>
    <th>Fecha Fin</th>
    <th>Cantidad a Selecccionar</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let etapaOferta of etapasOferta'>
    <td>{{etapaOferta.nombre}}</td>
    <td>{{etapaOferta.descripcion}}</td>
    <td>{{etapaOferta.fechaInicio | date:'shortDate'}}</td>
    <td>{{etapaOferta.fechaFin | date:'shortDate'}}</td>
    <td>{{etapaOferta.cantidadASeleccionar}}</td>
    <td>
      <div class="dropdown">
        <button class="btn" data-toggle="dropdown">Acciones <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" tabindex="-1" (click)="editarEtapaOferta($event, etapaOferta.id)">Editar</a>
          </li>
          <li>
            <a href="#" tabindex="-1" (click)="eliminarEtapa($event, etapaOferta.id)" >Eliminar</a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>

</div>

<div class="top-buffer">
  <a class="btn btn-primary" [routerLink]="['/oferta/detalle-oferta-oferente', idOferta]" role="button"><span
    class="glyphicon glyphicon-menu-left"></span>Atrás</a>
</div>


<div>

  <!--<experiencia-laboral-modal (experienciaLaboralAgregada)="agregarExperienciaLaboral($event)"></experiencia-laboral-modal>-->
</div>
