<form #formConsultarOferta="ngForm"  class="form-horizontal" (ngSubmit)="consultarOfertas(formConsultarOferta.value)">
  <h3>Consultar Ofertas</h3>
  <br/>
  <div class="container">
    <div class="row">
      <div class="form-group">
        <label class="col-sm-2">Criterio de Búsqueda</label>
        <div class="col-sm-4">
          <select class="form-control" [(ngModel)]="valorSeleccionadoCriterioBusqueda" requiered id="tipoCriterioBusquedaOferta" name="tipoCriterioBusquedaOferta">
            <option [value]="0">-- Selecione --</option>
            <option [value]="1">Código Convocatoria</option>
            <option [value]="2">Todas</option>
          </select>
          <div class="form-control alert-danger" *ngIf="(formConsultarOferta.controls.tipoCriterioBusquedaOferta?.invalid && formConsultarOferta.controls.tipoCriterioBusquedaOferta.touched) || (formConsultarOferta.controls.tipoCriterioBusquedaOferta?.touched && valorSeleccionadoCriterioBusqueda == 0)">El criterio de búsqueda es requerido</div>
        </div>
      </div>
    </div>
    <div *ngIf="valorSeleccionadoCriterioBusqueda== 1" class="row">
      <div class="form-group">
        <label class="col-sm-2">Código Convocatoria</label>
        <div class="col-sm-4">
          <input id="codigoConvocatoria" required class="form-control" type="text" (ngModel)="codigoConvocatoria" name="codigoConvocatoria">
          <div class="form-control alert-danger" *ngIf="formConsultarOferta.controls.codigoConvocatoria?.invalid && (formConsultarOferta.controls.codigoConvocatoria?.touched)">El código de la convocatoria es requerido</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="(formConsultarOferta.invalid)  || (valorSeleccionadoCriterioBusqueda == 0)" >Buscar</button>
    </div>

    <div  *ngIf="ofertas && ofertas.length" class="table-responsive top-buffer">
      <h4>Resultados de la Búsqueda</h4>
      <table class="table table striped table-bordered">
        <thead class="thead-inverse">
        <tr>
          <th>Cód. Convocatoria</th>
          <th>Nombre</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let oferta of ofertas'>
          <td>{{oferta.id}}</td>
          <td>{{oferta.nombre}}</td>
          <td>{{oferta.fechaInicio | date:'shortDate' }}</td>
          <td>{{oferta.fechaFin | date:'shortDate'}}</td>
          <td>
            <button title="Ver" class="btn btn-primary" (click)="consultarDetalleOferta(oferta.id)">
              <span class="glyphicon glyphicon-search"></span>
              Ver Detalle</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</form>


<!--Angular1 : {{ formConsultarOferta.value | json}}-->
<!--Angular1 : {{ valorSeleccionadoCriterioBusqueda | json}}-->
<!--Angular1 : {{ formConsultarOferta.invalid | json}}-->
<!--Angular1 : {{ ofertas | json}}-->
<!--Angular1 : {{ ofertas.length }}-->

