<simple-modal title="Agregar Información Académica Básica" elementId="informacionAcademicaBasica">
  <div class="container top-buffer">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Nombre Institución</label>
            <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="informacionAcademicaBasica.id_institucion_academica_basica" name="institucionEducacionBasica" required id="institucionEducacionBasica">
                <option value="0">-- Seleccione --</option>
                <option *ngFor="let institucionEducacionBasica of  institucionesEducacionBasica" [ngValue]="institucionEducacionBasica.id">{{institucionEducacionBasica.nombre}}</option>
              </select>

              <!--<input  class="form-control" type="text" [(ngModel)]=" experienciaLaboral.nombre_empresa" required>-->
              <!--<div class="form-control alert-danger" *ngIf="formSolicitante.controls.experienciaLaboral?.invalid && (formSolicitante.controls.experienciaLaboral?.touched)">El nombre de empresa usuario es requerido</div>-->

            </div>
          </div>
        </div>
        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Año Inicio</label>
            <!--<label class="col-sm-4 col-form-label" >Fecha Inicio</label>-->
            <div class="col-sm-5">
              <input class="form-control" type="number" [(ngModel)]="informacionAcademicaBasica.ano_inicio">
              <!--<div class="form-control alert-danger" *ngIf="formOferente.controls.nombre?.invalid && (formOferente.controls.nombre?.touched)">El nombre es requerido</div>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Año Fin</label>
            <div class="col-sm-5">
              <input class="form-control" type="number"  [(ngModel)]="informacionAcademicaBasica.ano_fin">
              <!--<input class="form-control" type="date" >-->
              <!--<div class="form-control alert-danger" *ngIf="formOferente.controls.nombre?.invalid && (formOferente.controls.nombre?.touched)">El nombre es requerido</div>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Fecha Graduación</label>
            <div class="col-sm-5">
              <!--<input class="form-control" type="date" [(ngModel)]="informacionAcademicaBasica.fecha_grado">-->
              <input class="form-control" type="text" [(ngModel)]="informacionAcademicaBasica.fecha_grado" name="fecha_grado" bsDatepicker placeholder="Seleccione una fecha...">

              <!--<input class="form-control" type="text" [(ngModel)]="cargo">-->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Último Grado Escolar</label>
            <div class="col-sm-5">
              <input class="form-control" type="number" [(ngModel)]="informacionAcademicaBasica.ultimo_grado_escolar">
              <!--<input class="form-control" type="text" [(ngModel)]="cargo">-->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Prueba Saber</label>
            <div class="col-sm-5 checkbox">
              <input type="checkbox" [(ngModel)]="informacionAcademicaBasica.pruebas_saber">
              <!--<input class="form-control" type="text" [(ngModel)]="cargo">-->
            </div>
          </div>
        </div>

        <div class="row">
          <div class="top-buffer-sm">
            <label class="col-sm-4 col-form-label">Calificación Prueba Saber</label>
            <div class="col-sm-5">
              <input class="form-control" type="number" [(ngModel)]="informacionAcademicaBasica.calificacion_pruebas_saber">
              <!--<input class="form-control" type="text" [(ngModel)]="cargo">-->
            </div>
          </div>
        </div>


        <div class="top-buffer">
          <!--<input type="button" class="btn btn-secondary" />-->
          <button type="button" class="btn btn-primary" (click)="agregarInformacionAcademicaBasica()"><span class="glyphicon glyphicon-ok"></span> Agregar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
        </div>
      </div>

    </div>
  </div>

</simple-modal>
